<div class="container">
  <mat-form-field class="form-content">
    <div class="search-wrapper">
      <mat-icon class="search-icon" style="color:#FFD146">search</mat-icon>
      <input matInput placeholder="Buscar..." required class="search-input" (input)="searchOngs($event)">
    </div>
  </mat-form-field>

  <h1>ONGs</h1>

  <!-- Skeleton mientras carga -->
  <ng-container *ngIf="isLoading; else ongsList">
    <div class="skeleton-card" *ngFor="let _ of [1,2,3,4]">
      <div class="skeleton-img"></div>
      <div class="skeleton-content">
        <div class="skeleton-line skeleton-subtitle"></div>
        <div class="skeleton-line skeleton-title"></div>
        <div class="skeleton-line skeleton-location"></div>
      </div>
    </div>
  </ng-container>

  <!-- Lista de ONGs -->
  <ng-template #ongsList>
    <mat-card *ngFor="let item of ongSearched" [routerLink]="['/donations/', item.name+'&Id='+item.id]">
      <img [src]="item.logo" alt="imagen-logo">
      <mat-card-header>
        <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
        <mat-card-title>{{item.type}}</mat-card-title>
        <p>{{item.address.district}}, {{item.address.city}}</p>
      </mat-card-header>
    </mat-card>
  </ng-template>
</div>
